name: SonarQube Analysis
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]

# Override default repository permissions to restrict access
permissions: {}

jobs:
  sonarqube:
    name: SonarQube
    runs-on: ubuntu-latest
    permissions:
      contents: read # Required for SonarQube to read the code
      issues: write # Required for SonarQube to create issues
      pull-requests: write # Required for SonarQube to create PR comments
      security-events: write # Required for SonarQube to upload SARIF results
      actions: read # Required for SonarQube to get the Action run status
      checks: write # Required for SonarQube to create checks
      statuses: write # Required for SonarQube to create statuses
      deployments: write # Required for SonarQube to create deployments
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@fd88b7d7ccbaefd23d8f36f73b59db7a3d246602 # v6.0.0
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
